.slider .header {
  margin-bottom: 16px;
}

.slider .title {
  color: #1e1e1e;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.slider .title .icon {
  width: 1rem;
  height: 1rem;
  line-height: 1;
  font-size: 1rem;
  display: inline;
  margin-left: 10px;
}

.slider .navBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider .swiper-prev {
  left: -24px;
}

.slider .swiper-next {
  right: -24px;
}

.slider .navBtn.swiper-button-disabled {
  color: #efefef;
  opacity: 0.85;
  cursor: not-allowed;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px 0 transparent;
}

.slider .navBtn.circle {
  opacity: 0.85;
  position: absolute;
  z-index: 19;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 1.125rem;
  font-weight: 900;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  .slider .header {
    margin-bottom: 12px !important;
  }

  .slider .title {
    font-size: 1.25rem !important;
  }
}
